# Unity .gitignore file.
.DS_Store
Library
Library/*
*.csproj
*.sln
*.userprefs
Temp
*.pidb
Build
Server/others
.idea
Server/bbsvr/test/test
Server/bbsvr/src/src
bbsvr.iml
Assets/GameAssets/EffectAsset/Texture/归档.zip
Assets/GameAssets/EffectAsset/Texture/归档.zip.meta
Assets/_Scripts/Test/TestNGUIMemory.cs
Assets/_Scripts/Test/TestNGUIMemory.cs.meta
