<h1>Listing unit_infos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_infos.each do |unit_info| %>
      <tr>
        <td><%= link_to 'Show', unit_info %></td>
        <td><%= link_to 'Edit', edit_unit_info_path(unit_info) %></td>
        <td><%= link_to 'Destroy', unit_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit info', new_unit_info_path %>
